AI Lead Classification System.json
{
  "name": "AI Lead Classification System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-lead-classification",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        16
      ],
      "id": "b4934659-88f1-415b-bbb5-6bb46112f506",
      "name": "Webhook",
      "webhookId": "aab28ee4-a960-4f4d-9b20-17daa22796f3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional lead qualification assistant.\n\nAnalyze the lead message and return:\n\ncategory:\n- Website Development\n- SEO\n- Social Media Marketing\n- Consultation\n\npriority:\n- High\n- Medium\n- Low\n\nPriority Rules:\n\nHigh:\n- Budget above $5000\n- Urgent requirement\n- Ready to start immediately\n- Business/company client\n- Multiple services requested\n\nMedium:\n- Budget between $1000 and $5000\n- Interested but not urgent\n- Clear buying intent\n\nLow:\n- Budget below $1000\n- Just requesting information\n- No urgency\n- No clear buying intent\n\nsummary:\nA short summary of the lead.\n\nsentiment:\n- Interested\n- Neutral\n- Urgent\n\nLead Message:\n{{ $json.body.message }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -336,
        16
      ],
      "id": "0bd654bd-6eaa-40d2-bf01-80d49b1b465a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"SEO\",\n  \"priority\": \"High\",\n  \"summary\": \"Customer wants ecommerce SEO services\",\n  \"sentiment\": \"Interested\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -192,
        256
      ],
      "id": "70afda22-e136-4de2-9b10-f53a09a7193f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -336,
        208
      ],
      "id": "8fc57fc0-8326-4fe4-a679-e3819a7d4a36",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4iA2T9wLTVAXcGRP",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0b0625d-d60a-447a-869d-0960b0690765",
              "leftValue": "={{$json.output.priority}}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        16
      ],
      "id": "8ad7433c-a197-41bf-83ce-117eccd9197d",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "babarabbaskhokhar3393@gmail.com",
        "subject": "🚨 High Priority Lead Alert",
        "message": "=New High Priority Lead  Name: {{$json.body.name}}  Email: {{$json.body.email}}  Category: {{$json.category}}  Priority: {{$json.priority}}  Summary: {{$json.summary}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        272,
        -16
      ],
      "id": "24ecc3af-1261-4d81-a5e3-80afec6053db",
      "name": "Send a message",
      "webhookId": "c84180d1-4c7d-469c-a9a3-f03c554e8847",
      "credentials": {
        "gmailOAuth2": {
          "id": "zcrKdWfZ7OkoevGc",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fgvQG63AH0mk1BXBCtZbbn25zlfGYgXhx2yVI_ngfcc",
          "mode": "list",
          "cachedResultName": "AI Lead Classification System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fgvQG63AH0mk1BXBCtZbbn25zlfGYgXhx2yVI_ngfcc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fgvQG63AH0mk1BXBCtZbbn25zlfGYgXhx2yVI_ngfcc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json.body.name}}",
            "Email": "={{$json.body.email}}",
            "Message": "={{$json.body.message}}",
            "Catagory": "={{$json.category}}",
            "Priority": "={{$json.priority}}",
            "Summary": "={{$json.summary}}",
            "Sentiment": "={{$json.sentiment}}",
            "Date": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Catagory",
              "displayName": "Catagory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        224
      ],
      "id": "75d848e8-3a5c-4f2b-874d-afe534a2d423",
      "name": "Low Priority",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FB4hI1IFi02yq4fN",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fgvQG63AH0mk1BXBCtZbbn25zlfGYgXhx2yVI_ngfcc",
          "mode": "list",
          "cachedResultName": "AI Lead Classification System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fgvQG63AH0mk1BXBCtZbbn25zlfGYgXhx2yVI_ngfcc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fgvQG63AH0mk1BXBCtZbbn25zlfGYgXhx2yVI_ngfcc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json.body.name}}",
            "Email": "={{$json.body.email}}",
            "Message": "={{$json.body.message}}",
            "Catagory": "={{$json.category}}",
            "Priority": "={{$json.priority}}",
            "Summary": "={{$json.summary}}",
            "Sentiment": "={{$json.sentiment}}",
            "Date": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Catagory",
              "displayName": "Catagory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        -16
      ],
      "id": "62b7386b-135d-404d-aafb-ebc2bbb85727",
      "name": "High Piority",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FB4hI1IFi02yq4fN",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "High Piority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "68c283e7-be3e-434c-984d-832c0fa9a5cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d424743025bec5009babfaef2f79b3c75a37f9945ba27d8e733a678dbe205c12"
  },
  "nodeGroups": [],
  "id": "H20kIHyYu3EeyBC8",
  "tags": []
}